
<div >

    <div class="row col-sm-12 col-md-12 col-xs-12" style="margin-top:40px;">
      <form name="forgetPasswordForm" >
        <div style="width:400px;;margin:auto " class="margin-auto " >
          <md-toolbar class="col-sm-12 col-md-12 col-xs-12 centered">
                <div class="md-toolbar-tools"> Forgot Password</div>
           </md-toolbar>
           <md-content class="col-sm-12 col-md-12 col-xs-12 " style="height:300px">

             <md-input-container class="md-block mt">
                <!-- Use floating placeholder instead of label -->
                <md-icon ><ng-md-icon icon="email"></ng-md-icon></md-icon>
                 <input ng-model="user.email" type="email" name="email"  placeholder="Email (required)" ng-required="true">
                <div ng-messages="loginForm.email.$error">
                  <div ng-show="loginForm.email.$touched && loginForm.email.$invalid">
                    Please enter the valid email.
                  </div>
                </div>
              </md-input-container>

              <div class="col-sm-12 col-md-12 col-xs-12 centered">
                  <md-button class="md-raised md-primary" ng-click="forgotPassword()"  >Send mail</md-button>

              </div>
             <div class="col-sm-12 col-md-12 col-xs-12 centered mt10">
                  <a ng-href='/login'>Login an account</a>
              </div>

          </md-content>
      </div>
      </form>
    </div>



</md-content>

</div>

