
<div >

    <div class="row col-sm-12 col-md-12 col-xs-12" style="margin-top:40px;">
      <form name="resetPasswordForm" >
        <div style="width:400px;;margin:auto " class="margin-auto " >

          <md-toolbar class="col-sm-12 col-md-12 col-xs-12 centered">
                <div class="md-toolbar-tools"> Reset Password</div>
           </md-toolbar>
           <md-content class="col-sm-12 col-md-12 col-xs-12 " style="height:300px">
             <div class="col-sm-12 col-md-12 col-xs-12 " style="margin-top:5px;" ng-messages="registerForm.$error">
              <div style="width:50%;margin:auto;color:red" ng-bind="error_msg">

              </div>


           </div>
             <md-input-container class="md-block mt mt50">
                <!-- Use floating placeholder instead of label -->
                <md-icon ><ng-md-icon icon="vpn_key"></ng-md-icon></md-icon>
                 <input ng-model="user.password" type="password" name="password"  placeholder="New Password" ng-required="true">
                <div ng-messages="resetPasswordForm.password.$error">
                  <div ng-show="resetPasswordForm.password.$touched && resetPasswordForm.password.$invalid">
                    Please enter the new password.
                  </div>
                </div>
              </md-input-container>

              <div class="col-sm-12 col-md-12 col-xs-12 centered">
                  <md-button class="md-raised md-primary" ng-click="resetPassword()" ng-disabled="resetPasswordForm.$invalid" >Set Password</md-button>

              </div>
             <div class="col-sm-12 col-md-12 col-xs-12 centered mt10">
                  <a ng-href='/login'>Login an account</a>
              </div>

          </md-content>
      </div>
      </form>
    </div>



</md-content>

</div>

